<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product details</h2>
        <ol class="breadcrumb">
            <li>
                <a >Home</a>
            </li>
            <li>
                <a ui-sref="client.products">Products</a>
            </li>
            <li class="active">
                <strong>{{product.name}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{product.name}}
                        <small>{{product.description}}</small>
                    </h5>

                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="product.name"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="product.description"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Price per day</label>

                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="product.price_net_per_day"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Tax Percent</label>

                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="product.tax_in_percent"></div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>All options assigned to {{product.name}}</h5>

                    <div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs disabled">Add new option</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="project-list">

                        <table class="table table-hover" ng-if="product.options.length != 0">
                            <thead>
                            <tr>
                                <th class="project-status">
                                    Status
                                </th>
                                <th class="project-title">
                                    Name
                                </th>
                                <th class="project-completion">
                                    Price net per day
                                </th>
                                <th class="project-people">
                                    Taxation
                                </th>
                                <th class="project-actions">

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="option in product.options">
                                <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td>
                                <td class="project-title">
                                    <a ui-sref="project_detail">{{option.name}}</a>
                                    <br/>
                                    <small>{{option.description}}</small>
                                </td>
                                <td class="project-completion">
                                    <span class="label label-default">{{option.price_net_per_day}} PLN</span>
                                </td>
                                <td class="project-people">
                                   <span class="label label-default"> {{option.tax_in_percent}} %</span>
                                </td>
                                <td class="project-actions">
                                    <a ui-sref="client.product({product_id: product.id})" class="btn btn-white btn-sm disabled"><i class="fa fa-pencil"></i> Edit </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-if="product.options.length == 0">
                            This product has no options
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-8 text-right">
                    <!--<button class="btn btn-white" type="submit">Cancel</button>-->
                    <button class="btn btn-primary" type="submit" ng-click="save()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
