<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Products</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>All products assigned to this account</h5>

                    <div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs">Add new product</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button ng-click="refresh()" type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat="product in products">
                                <td class="project-status">
                                    <span class="label label-primary">Active</span>
                                </td>
                                <td class="project-title">
                                    <a ui-sref="project_detail">{{product.name}}</a>
                                    <br/>
                                    <small>{{product.description}}</small>
                                </td>
                                <td class="project-completion">
                                    <!--<small>Completion with: 8%</small>-->
                                    <!--<div class="progress progress-mini">-->
                                        <!--<div style="width: 8%;" class="progress-bar"></div>-->
                                    <!--</div>-->
                                </td>
                                <td class="project-people">

                                </td>
                                <td class="project-actions">
                                    <a ui-sref="client.product({product_id: product.id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
