<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown ng-controller="UserMiniatureCtrl">
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{profile.first_name}} {{profile.last_name}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Actions<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="#/login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="client.products"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Products</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="client.subscribers"><i class="fa fa-user"></i> <span class="nav-label">Subscribers</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="client.documents"><i class="fa fa-folder"></i> <span class="nav-label">Documents</span></a>
            </li>
        </ul>

    </div>
</nav>